<!DOCTYPE html>
<html lang="en" dir="ltr" class="light"
  html.light {
    --semantic-color-monochrome-surface-normal-lowest: var(--core-color-opacity-black-75);
    --semantic-color-monochrome-surface-normal-low: var(--core-color-opacity-black-100);
    --semantic-color-monochrome-surface-normal-midLow: var(--core-color-opacity-black-200);
    --semantic-color-monochrome-surface-normal-midHigh: var(--core-color-opacity-black-300);
    --semantic-color-monochrome-surface-normal-high: var(--core-color-opacity-black-700);
    --semantic-color-monochrome-surface-normal-highest: var(--core-color-opacity-black-800);
    --semantic-color-monochrome-surface-inverse-lowest: var(--core-color-opacity-white-75);
    --semantic-color-monochrome-surface-inverse-low: var(--core-color-opacity-white-100);
    --semantic-color-monochrome-surface-inverse-midLow: var(--core-color-opacity-white-200);
    --semantic-color-monochrome-surface-inverse-midHigh: var(--core-color-opacity-white-300);
    --semantic-color-monochrome-surface-inverse-high: var(--core-color-opacity-white-700);
    --semantic-color-monochrome-surface-inverse-highest: var(--core-color-opacity-white-800);
    --semantic-color-monochrome-surface-static-blackLowest: var(--core-color-opacity-black-75);
    --semantic-color-monochrome-surface-static-blackLow: var(--core-color-opacity-black-100);
    --semantic-color-monochrome-surface-static-blackMidLow: var(--core-color-opacity-black-200);
    --semantic-color-monochrome-surface-static-blackMidHigh: var(--core-color-opacity-black-300);
    --semantic-color-monochrome-surface-static-blackHigh: var(--core-color-opacity-black-700);
    --semantic-color-monochrome-surface-static-blackHighest: var(--core-color-opacity-black-800);
    --semantic-color-monochrome-surface-static-whiteLowest: var(--core-color-opacity-white-75);
    --semantic-color-monochrome-surface-static-whiteLow: var(--core-color-opacity-white-100);
    --semantic-color-monochrome-surface-static-whiteMidLow: var(--core-color-opacity-white-200);
    --semantic-color-monochrome-surface-static-whiteMidHigh: var(--core-color-opacity-white-300);
    --semantic-color-monochrome-surface-static-whiteHigh: var(--core-color-opacity-white-700);
    --semantic-color-monochrome-surface-static-whiteHighest: var(--core-color-opacity-white-800);
    --semantic-color-monochrome-border-normal-low: var(--core-color-opacity-black-75);
    --semantic-color-monochrome-border-normal-mid: var(--core-color-opacity-black-100);
    --semantic-color-monochrome-border-normal-high: var(--core-color-opacity-black-200);
    --semantic-color-monochrome-border-normal-highest: var(--core-color-opacity-black-300);
    --semantic-color-monochrome-border-inverse-low: var(--core-color-opacity-white-75);
    --semantic-color-monochrome-border-inverse-mid: var(--core-color-opacity-white-100);
    --semantic-color-monochrome-border-inverse-high: var(--core-color-opacity-white-200);
    --semantic-color-monochrome-border-inverse-highest: var(--core-color-opacity-white-300);
    --semantic-color-monochrome-border-static-blackLow: var(--core-color-opacity-black-75);
    --semantic-color-monochrome-border-static-blackMid: var(--core-color-opacity-black-100);
    --semantic-color-monochrome-border-static-blackHigh: var(--core-color-opacity-black-200);
    --semantic-color-monochrome-border-static-blackHighest: var(--core-color-opacity-black-300);
    --semantic-color-monochrome-border-static-whiteLow: var(--core-color-opacity-white-75);
    --semantic-color-monochrome-border-static-whiteMid: var(--core-color-opacity-white-100);
    --semantic-color-monochrome-border-static-whiteHigh: var(--core-color-opacity-white-200);
    --semantic-color-monochrome-border-static-whiteHighest: var(--core-color-opacity-white-300);
    --semantic-color-monochrome-textIcon-normal-low: var(--core-color-opacity-black-300);
    --semantic-color-monochrome-textIcon-normal-mid: var(--core-color-opacity-black-400);
    --semantic-color-monochrome-textIcon-normal-high: var(--core-color-opacity-black-600);
    --semantic-color-monochrome-textIcon-inverse-low: var(--core-color-opacity-white-300);
    --semantic-color-monochrome-textIcon-inverse-mid: var(--core-color-opacity-white-400);
    --semantic-color-monochrome-textIcon-inverse-high: var(--core-color-opacity-white-600);
    --semantic-color-monochrome-textIcon-static-blackLow: var(--core-color-opacity-black-300);
    --semantic-color-monochrome-textIcon-static-blackMid: var(--core-color-opacity-black-400);
    --semantic-color-monochrome-textIcon-static-blackHigh: var(--core-color-opacity-black-600);
    --semantic-color-monochrome-textIcon-static-whiteLow: var(--core-color-opacity-white-300);
Show all properties (1150 more)
}
:root {
    --bg-color: #fff;
    --text-color: #000;
    --card-bg-color: #f9f9f9;
    --border-color: #ddd;
    --header-bg-color: #eaeaea;
    --highlight-color: #007bff;
}
:root {
    --brand-secondary: #85acb0;
    --border-normal: #d6dadb;
    --gneral-main-1: #fff;
    --text-loss-danger: #ec3f3f;
}
:root {
    --toastify-color-light: #fff;
    --toastify-color-dark: #121212;
    --toastify-color-info: #3498db;
    --toastify-color-success: #07bc0c;
    --toastify-color-warning: #f1c40f;
    --toastify-color-error: #e74c3c;
    --toastify-color-transparent: #ffffffb3;
    --toastify-icon-color-info: var(--toastify-color-info);
    --toastify-icon-color-success: var(--toastify-color-success);
    --toastify-icon-color-warning: var(--toastify-color-warning);
    --toastify-icon-color-error: var(--toastify-color-error);
    --toastify-toast-width: 320px;
    --toastify-toast-background: #fff;
    --toastify-toast-min-height: 64px;
    --toastify-toast-max-height: 800px;
    --toastify-font-family: sans-serif;
    --toastify-z-index: 9999;
    --toastify-text-color-light: #757575;
    --toastify-text-color-dark: #fff;
    --toastify-text-color-info: #fff;
    --toastify-text-color-success: #fff;
    --toastify-text-color-warning: #fff;
    --toastify-text-color-error: #fff;
    --toastify-spinner-color: #616161;
    --toastify-spinner-color-empty-area: #e0e0e0;
    --toastify-color-progress-light: linear-gradient(to right, #4cd964, #5ac8fa, #007aff, #34aadc, #5856d6, #ff2d55);
    --toastify-color-progress-dark: #bb86fc;
    --toastify-color-progress-info: var(--toastify-color-info);
    --toastify-color-progress-success: var(--toastify-color-success);
    --toastify-color-progress-warning: var(--toastify-color-warning);
    --toastify-color-progress-error: var(--toastify-color-error);
}
:host, :root {
    --du-text-size-3xs: 6px;
    --du-text-size-2xs: 8px;
    --du-text-size-xs: 10px;
    --du-text-size-sm: 12px;
    --du-text-size-default: 14px;
    --du-text-size-md: 16px;
    --du-text-size-lg: 28px;
    --du-text-size-xl: 30px;
    --du-text-size-2xl: 32px;
    --du-text-lh-2xs: 1;
    --du-text-lh-xs: 1.25;
    --du-text-lh-sm: 1.4;
    --du-text-lh-md: 1.5;
    --du-text-lh-lg: 1.75;
    --du-text-lh-xl: 2;
    --du-text-lh-2xl: 2.4;
    --du-text-weight-light: 300;
    --du-text-weight-normal: 400;
    --du-text-weight-semibold: 500;
    --du-text-weight-bold: 700;
    --du-text-align-left: start;
    --du-text-align-right: right;
    --du-text-align-center: center;
    --du-brand-white: #fff;
    --du-brand-dark-gray: #0e0e0e;
    --du-brand-red-coral: #ff444f;
    --du-brand-orange: #ff6444;
    --du-brand-secondary: #85acb0;
    --du-deriv-airtm: linear-gradient(90deg, #1a8fff 0%, #0083ff 100%);
    --du-deriv-banxa: linear-gradient(90deg, #000 0%, #4ac0ba 96.35%);
    --du-deriv-bitcoin: linear-gradient(90deg, #f89e32 0%, #f7931b 103.12%);
    --du-deriv-credit: linear-gradient(274.73deg, #464750 3.82%, #0e0f11 88.49%);
    --du-deriv-dp2p: linear-gradient(90deg, #ff444f 0%, #211d1e 95.22%);
    --du-deriv-fasapay: linear-gradient(90deg, #f6931c 0%, #4873ac 95.22%);
    --du-deriv-jeton: linear-gradient(90deg, #ff7635 0%, #ff671f 100%);
    --du-deriv-mastercard: linear-gradient(90deg, #eb001b 0%, #f79e1b 100%);
    --du-deriv-neteller: linear-gradient(90deg, #98cc53 0%, #8dc640 100%);
    --du-deriv-paylivre: linear-gradient(90deg, #352caa 0%, #9a6bfc 100%);
    --du-deriv-paysafe: linear-gradient(90deg, #e3001b 0%, #008ac9 100%);
    --du-deriv-perfectmoney: gradient-perfectmoney;
    --du-deriv-skrill: linear-gradient(274.73deg, #5a205d 3.82%, #7f3883 88.49%);
    --du-deriv-sticpay: linear-gradient(90deg, #f36938 0%, #f25822 100%);
    --du-deriv-virtual: linear-gradient(274.25deg, #333 9.01%, #5c5b5b 103.31%);
    --du-deriv-visa: linear-gradient(274.73deg, #1a205e 3.82%, #122d96 88.49%);
    --du-deriv-webmoney: linear-gradient(90deg, #1a77ac 0%, #0068a3 100%);
    --du-app-card-virtual: linear-gradient(274.25deg, #333 9.01%, #5c5b5b 103.31%);
    --du-app-card-virtual-swap-free: linear-gradient(58.51deg, #061828 28.06%, #1a3c60 93.51%);
}
:root {
    --temp-static-spacing-5: 5px;
    --temp-static-spacing-7: 7px;
    --temp-static-spacing-9: 9px;
    --temp-static-spacing-13: 13px;
    --temp-static-spacing-15: 15px;
    --temp-static-spacing-104: 104px;
    --temp-static-spacing-128: 128px;
    --temp-static-spacing-144: 144px;
    --temp-static-spacing-202: 202px;
    --temp-static-spacing-288: 288px;
    --temp-static-spacing-289: 289px;
    --temp-static-spacing-312: 312px;
    --temp-static-spacing-360: 360px;
}
:root {
    --core-borderRadius-50: 0px;
    --core-borderRadius-100: 2px;
    --core-borderRadius-200: 4px;
    --core-borderRadius-300: 6px;
    --core-borderRadius-400: 8px;
    --core-borderRadius-500: 10px;
    --core-borderRadius-600: 12px;
    --core-borderRadius-700: 14px;
    --core-borderRadius-800: 16px;
    --core-borderRadius-900: 18px;
    --core-borderRadius-1000: 20px;
    --core-borderRadius-1100: 22px;
    --core-borderRadius-1200: 24px;
    --core-borderRadius-1300: 26px;
    --core-borderRadius-1400: 28px;
    --core-borderRadius-1500: 30px;
    --core-borderRadius-1600: 32px;
    --core-borderRadius-1700: 34px;
    --core-borderRadius-1800: 36px;
    --core-borderRadius-1900: 38px;
    --core-borderRadius-2000: 40px;
    --core-borderRadius-2100: 42px;
    --core-borderRadius-2200: 44px;
    --core-borderRadius-2300: 46px;
    --core-borderRadius-2400: 48px;
    --core-borderRadius-2500: 50px;
    --core-borderRadius-2600: 52px;
    --core-borderRadius-2700: 54px;
    --core-borderRadius-2800: 56px;
    --core-borderRadius-2900: 58px;
    --core-borderRadius-3000: 60px;
    --core-borderRadius-3100: 62px;
    --core-borderRadius-3200: 64px;
    --core-borderRadius-3300: 66px;
    --core-borderRadius-3400: 68px;
    --core-borderRadius-3500: 70px;
    --core-borderRadius-3600: 72px;
    --core-borderRadius-3700: 74px;
    --core-borderRadius-3800: 76px;
    --core-borderRadius-3900: 78px;
    --core-borderRadius-4000: 80px;
    --core-borderRadius-4100: 82px;
    --core-borderRadius-4200: 84px;
    --core-borderRadius-4300: 86px;
    --core-borderRadius-4400: 88px;
    --core-borderRadius-4500: 90px;
    --core-borderRadius-4600: 92px;
    --core-borderRadius-4700: 94px;
    --core-borderRadius-4800: 96px;
    --core-borderRadius-4900: 98px;
Show all properties (4245 more)
}
:host, :root {
    --du-text-size-3xs: 6px;
    --du-text-size-2xs: 8px;
    --du-text-size-xs: 10px;
    --du-text-size-sm: 12px;
    --du-text-size-default: 14px;
    --du-text-size-md: 16px;
    --du-text-size-lg: 28px;
    --du-text-size-xl: 30px;
    --du-text-size-2xl: 32px;
    --du-text-lh-2xs: 1;
    --du-text-lh-xs: 1.25;
    --du-text-lh-sm: 1.4;
    --du-text-lh-md: 1.5;
    --du-text-lh-lg: 1.75;
    --du-text-lh-xl: 2;
    --du-text-lh-2xl: 2.4;
    --du-text-weight-light: 300;
    --du-text-weight-normal: 400;
    --du-text-weight-semibold: 500;
    --du-text-weight-bold: 700;
    --du-text-align-left: start;
    --du-text-align-right: right;
    --du-text-align-center: center;
    --du-brand-white: #fff;
    --du-brand-dark-gray: #0e0e0e;
    --du-brand-red-coral: #ff444f;
    --du-brand-orange: #ff6444;
    --du-brand-secondary: #85acb0;
    --du-deriv-airtm: linear-gradient(90deg, #1a8fff 0%, #0083ff 100%);
    --du-deriv-banxa: linear-gradient(90deg, #000 0%, #4ac0ba 96.35%);
    --du-deriv-bitcoin: linear-gradient(90deg, #f89e32 0%, #f7931b 103.12%);
    --du-deriv-credit: linear-gradient(274.73deg, #464750 3.82%, #0e0f11 88.49%);
    --du-deriv-dp2p: linear-gradient(90deg, #ff444f 0%, #211d1e 95.22%);
    --du-deriv-fasapay: linear-gradient(90deg, #f6931c 0%, #4873ac 95.22%);
    --du-deriv-jeton: linear-gradient(90deg, #ff7635 0%, #ff671f 100%);
    --du-deriv-mastercard: linear-gradient(90deg, #eb001b 0%, #f79e1b 100%);
    --du-deriv-neteller: linear-gradient(90deg, #98cc53 0%, #8dc640 100%);
    --du-deriv-paylivre: linear-gradient(90deg, #352caa 0%, #9a6bfc 100%);
    --du-deriv-paysafe: linear-gradient(90deg, #e3001b 0%, #008ac9 100%);
    --du-deriv-perfectmoney: gradient-perfectmoney;
    --du-deriv-skrill: linear-gradient(274.73deg, #5a205d 3.82%, #7f3883 88.49%);
    --du-deriv-sticpay: linear-gradient(90deg, #f36938 0%, #f25822 100%);
    --du-deriv-virtual: linear-gradient(274.25deg, #333 9.01%, #5c5b5b 103.31%);
    --du-deriv-visa: linear-gradient(274.73deg, #1a205e 3.82%, #122d96 88.49%);
    --du-deriv-webmoney: linear-gradient(90deg, #1a77ac 0%, #0068a3 100%);
    --du-app-card-virtual: linear-gradient(274.25deg, #333 9.01%, #5c5b5b 103.31%);
    --du-app-card-virtual-swap-free: linear-gradient(58.51deg, #061828 28.06%, #1a3c60 93.51%);
}
:host, :root {
    --du-text-size-3xs: 6px;
    --du-text-size-2xs: 8px;
    --du-text-size-xs: 10px;
    --du-text-size-sm: 12px;
    --du-text-size-default: 14px;
    --du-text-size-md: 16px;
    --du-text-size-lg: 28px;
    --du-text-size-xl: 30px;
    --du-text-size-2xl: 32px;
    --du-text-lh-2xs: 1;
    --du-text-lh-xs: 1.25;
    --du-text-lh-sm: 1.4;
    --du-text-lh-md: 1.5;
    --du-text-lh-lg: 1.75;
    --du-text-lh-xl: 2;
    --du-text-lh-2xl: 2.4;
    --du-text-weight-light: 300;
    --du-text-weight-normal: 400;
    --du-text-weight-semibold: 500;
    --du-text-weight-bold: 700;
    --du-text-align-left: start;
    --du-text-align-right: right;
    --du-text-align-center: center;
    --du-brand-white: #fff;
    --du-brand-dark-gray: #0e0e0e;
    --du-brand-red-coral: #ff444f;
    --du-brand-orange: #ff6444;
    --du-brand-secondary: #85acb0;
    --du-deriv-airtm: linear-gradient(90deg, #1a8fff 0%, #0083ff 100%);
    --du-deriv-banxa: linear-gradient(90deg, #000 0%, #4ac0ba 96.35%);
    --du-deriv-bitcoin: linear-gradient(90deg, #f89e32 0%, #f7931b 103.12%);
    --du-deriv-credit: linear-gradient(274.73deg, #464750 3.82%, #0e0f11 88.49%);
    --du-deriv-dp2p: linear-gradient(90deg, #ff444f 0%, #211d1e 95.22%);
    --du-deriv-fasapay: linear-gradient(90deg, #f6931c 0%, #4873ac 95.22%);
    --du-deriv-jeton: linear-gradient(90deg, #ff7635 0%, #ff671f 100%);
    --du-deriv-mastercard: linear-gradient(90deg, #eb001b 0%, #f79e1b 100%);
    --du-deriv-neteller: linear-gradient(90deg, #98cc53 0%, #8dc640 100%);
    --du-deriv-paylivre: linear-gradient(90deg, #352caa 0%, #9a6bfc 100%);
    --du-deriv-paysafe: linear-gradient(90deg, #e3001b 0%, #008ac9 100%);
    --du-deriv-perfectmoney: gradient-perfectmoney;
    --du-deriv-skrill: linear-gradient(274.73deg, #5a205d 3.82%, #7f3883 88.49%);
    --du-deriv-sticpay: linear-gradient(90deg, #f36938 0%, #f25822 100%);
    --du-deriv-virtual: linear-gradient(274.25deg, #333 9.01%, #5c5b5b 103.31%);
    --du-deriv-visa: linear-gradient(274.73deg, #1a205e 3.82%, #122d96 88.49%);
    --du-deriv-webmoney: linear-gradient(90deg, #1a77ac 0%, #0068a3 100%);
    --du-app-card-virtual: linear-gradient(274.25deg, #333 9.01%, #5c5b5b 103.31%);
    --du-app-card-virtual-swap-free: linear-gradient(58.51deg, #061828 28.06%, #1a3c60 93.51%);
}
:host, :root {
    --text-size-xxxxs: .8rem;
    --text-size-xxxs: 1rem;
    --text-size-xxs: 1.2rem;
    --text-size-xs: 1.4rem;
    --text-size-s: 1.6rem;
    --text-size-xsm: 1.8rem;
    --text-size-sm: 2rem;
    --text-size-m: 2.4rem;
    --text-size-l: 3.2rem;
    --text-size-xl: 4.8rem;
    --text-size-xxl: 6.4rem;
    --text-lh-xxs: 1;
    --text-lh-xs: 1.25;
    --text-lh-s: 1.4;
    --text-lh-m: 1.5;
    --text-lh-l: 1.75;
    --text-lh-xl: 2;
    --text-lh-xxl: 2.4;
    --text-weight-lighter: lighter;
    --text-weight-normal: normal;
    --text-weight-bold: bold;
    --text-weight-bolder: bolder;
    --text-align-left: start;
    --text-align-right: right;
    --text-align-center: center;
    --brand-white: #fff;
    --brand-dark-grey: #0e0e0e;
    --brand-red-coral: #ff444f;
    --brand-orange: #ff6444;
    --brand-purple-coral: var(--dynamic-list-bg, #191970);
    --brand-blue-coral: #51d5ec;
    --brand-secondary: #85acb0;
    --app-card-virtual: linear-gradient(274.25deg, #333 9.01%, #5c5b5b 103.31%);
    --app-card-virtual-swap-free: linear-gradient(58.51deg, #061828 28.06%, #1a3c60 93.51%);
    --tw-border-opacity: 1;
}
:root {
    --button-primary-default: #ff444f;
    --text-colored-background: #fff;
    --button-primary-hover: #eb3e48;
    --button-secondary-default: #6e6e6e;
}
:host, :root {
    --du-text-size-3xs: 6px;
    --du-text-size-2xs: 8px;
    --du-text-size-xs: 10px;
    --du-text-size-sm: 12px;
    --du-text-size-default: 14px;
    --du-text-size-md: 16px;
    --du-text-size-lg: 28px;
    --du-text-size-xl: 30px;
    --du-text-size-2xl: 32px;
    --du-text-lh-2xs: 1;
    --du-text-lh-xs: 1.25;
    --du-text-lh-sm: 1.4;
    --du-text-lh-md: 1.5;
    --du-text-lh-lg: 1.75;
    --du-text-lh-xl: 2;
    --du-text-lh-2xl: 2.4;
    --du-text-weight-light: 300;
    --du-text-weight-normal: 400;
    --du-text-weight-semibold: 500;
    --du-text-weight-bold: 700;
    --du-text-align-left: start;
    --du-text-align-right: right;
    --du-text-align-center: center;
    --du-brand-white: #fff;
    --du-brand-dark-gray: #0e0e0e;
    --du-brand-red-coral: #ff444f;
    --du-brand-orange: #ff6444;
    --du-brand-secondary: #85acb0;
    --du-deriv-airtm: linear-gradient(90deg, #1a8fff 0%, #0083ff 100%);
    --du-deriv-banxa: linear-gradient(90deg, #000 0%, #4ac0ba 96.35%);
    --du-deriv-bitcoin: linear-gradient(90deg, #f89e32 0%, #f7931b 103.12%);
    --du-deriv-credit: linear-gradient(274.73deg, #464750 3.82%, #0e0f11 88.49%);
    --du-deriv-dp2p: linear-gradient(90deg, #ff444f 0%, #211d1e 95.22%);
    --du-deriv-fasapay: linear-gradient(90deg, #f6931c 0%, #4873ac 95.22%);
    --du-deriv-jeton: linear-gradient(90deg, #ff7635 0%, #ff671f 100%);
    --du-deriv-mastercard: linear-gradient(90deg, #eb001b 0%, #f79e1b 100%);
    --du-deriv-neteller: linear-gradient(90deg, #98cc53 0%, #8dc640 100%);
    --du-deriv-paylivre: linear-gradient(90deg, #352caa 0%, #9a6bfc 100%);
    --du-deriv-paysafe: linear-gradient(90deg, #e3001b 0%, #008ac9 100%);
    --du-deriv-perfectmoney: gradient-perfectmoney;
    --du-deriv-skrill: linear-gradient(274.73deg, #5a205d 3.82%, #7f3883 88.49%);
    --du-deriv-sticpay: linear-gradient(90deg, #f36938 0%, #f25822 100%);
    --du-deriv-virtual: linear-gradient(274.25deg, #333 9.01%, #5c5b5b 103.31%);
    --du-deriv-visa: linear-gradient(274.73deg, #1a205e 3.82%, #122d96 88.49%);
    --du-deriv-webmoney: linear-gradient(90deg, #1a77ac 0%, #0068a3 100%);
    --du-app-card-virtual: linear-gradient(274.25deg, #333 9.01%, #5c5b5b 103.31%);
    --du-app-card-virtual-swap-free: linear-gradient(58.51deg, #061828 28.06%, #1a3c60 93.51%);
}
:root {
    font-size: 62.5%;
}
html {
    font-family: IBM Plex Sans, sans-serif;
}
html {
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
html, body {
    -ms-touch-action: none;
    margin: 0;
}
html {
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans, Ubuntu, Cantarell, Helvetica Neue, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    line-height: 1.15;
}
html {
    font-family: IBM Plex Sans, sans-serif;
}
html {
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
html {
    font-family: IBM Plex Sans, sans-serif;
}
html {
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
html {
    font-family: IBM Plex Sans, sans-serif;
}
html {
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
html[Attributes Style] {
    -webkit-locale: "en";
    direction: ltr;
}
user agent stylesheet
[dir="ltr" i] {
    unicode-bidi: isolate;
}
user agent stylesheet
:root {
    view-transition-name: root;
}
user agent stylesheet
html {
    display: block;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
*, :before, :after {
    box-sizing: border-box;
}
::-webkit-scrollbar {
    scrollbar-width: thin;
    background-color: #0000;
    border-radius: 10px;
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb {
    display: none;
}
::-webkit-scrollbar-track {
    scrollbar-width: thin;
    background-color: #0000;
    }
